.BotonConfirmacion{
    --background: #d2691e;
    --background-hover: #9e521c;
    --color: black;
}

#Titulo{
    font-size: 40px;
    font-family:  "Montserrat", sans-serif;
    font-weight: bolder;
    text-transform: uppercase; //todo en mayusculas funciona lowercase
}

.Bienvenida{
    color:chocolate;
    text-align: center;
    font-style: italic;
   

}