<ion-header>
    <ion-toolbar>
      <ion-title>pagina culera XD</ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="goToHome()">
          <ion-icon name="home-outline"></ion-icon>
          IR A CASA
        </ion-button>

        <ion-button (click)="goToProfile()">
          <ion-icon name="person-outline"></ion-icon>
          IR A PERFIL
        </ion-button>

        <ion-button (click)="goToLoader()">
          <ion-icon name="reload-circle-outline"></ion-icon>
          IR A LOADER (TEST)
        </ion-button>

        <ion-button (click)="goToContador()">
          <ion-icon name="calculator-outline"></ion-icon>
          IR A CONTADOR
        </ion-button>


      </ion-buttons>
    </ion-toolbar>
</ion-header>
