.Bienvenida{
    color:chocolate;
    text-align: center;
    font-style: italic;
    //line-height: 1; //el tamaño de la entrelinea
    //letter-spacing: 10px; //espacio entre letras
    //text-transform: capitalize; //primera letra en mayuscula
    //word-break: break-all; //rompe la palabra si no cabe en la pantalla

}

#Titulo{
    font-size: 40px;
    font-family:  "Montserrat", sans-serif;
    font-weight: bolder;
    text-transform: uppercase; //todo en mayusculas funciona lowercase
}
