<ion-content>
    <div class="Bienvenida">
        <h1 id="Titulo">Bienvenido/a a Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, tenetur illum obcaecati expedita doloribus hic, aperiam nulla aliquid quia esse iure reiciendis? Commodi enim repudiandae id, quisquam quae dolore esse?</p>
    </div>

    <div class="TestCajita">
        <h1 class="isaac" id="BotTitle">OMG is that isaac from the game the binding of isaac?
        </h1>
        <h2 class="isaac">isaac we love you
        </h2>
        <p class="Description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo labore impedit laborum quasi vero iure officia dolor, ipsam modi commodi? Saepe obcaecati amet laborum ex atque eos mollitia, temporibus vitae?</p>
    </div>
</ion-content>
