<ion-content>
    <div class="Bienvenida">
        <h1 id="Titulo">Bienvenido/a a Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, tenetur illum obcaecati expedita doloribus hic, aperiam nulla aliquid quia esse iure reiciendis? Commodi enim repudiandae id, quisquam quae dolore esse?</p>
    </div>

    <div class="TestCajita">
        <p class="isaac">OMG is that isaac from the game the binding of isaac?
        </p>
        <p class="isaac">isaac we love you
        </p>
    </div>
</ion-content>
