.Bienvenida{
    color:chocolate;
    text-align: center;
    font-style: italic;
    //line-height: 1; //el tamaño de la entrelinea
    //letter-spacing: 10px; //espacio entre letras
    //text-transform: capitalize; //primera letra en mayuscula
    //word-break: break-all; //rompe la palabra si no cabe en la pantalla

}

#Titulo{
    font-size: 40px;
    font-family:  "Montserrat", sans-serif;
    font-weight: bolder;
    text-transform: uppercase; //todo en mayusculas funciona lowercase
}
//cajita es solo para probar el box model
.TestCajita{
    font-size: 20px;
    //text-align: center;
    color: #000;
    background: chocolate;
    padding: 5px; //espacio entre el texto y el borde de la caja
    //margin: 20px; //espacio entre la caja y el resto de la pagina
    
}

.isaac{
    background: wheat;
    //padding: 5px 60px 5px 60px; //padding: top right bottom left
    //padding: 10px 20px; //padding: top bottom | right left;
    //margin: 10px;
}
