#testTitulo{
    font-size: 40px;
    font-family:  "Montserrat", sans-serif;
    font-weight: bolder;
}

.holos{
    font-size: 15px;
    font-family:  "Montserrat", sans-serif;
    color: chocolate;
    text-align: center;
}